<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav.ejs');-%>
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <div class="col-12">
                        <h2>User Profile</h2>
                        <hr>
                        <p>User's current details</p>
                        <div class="text-center">
                            <img class="employee_img" src="img/ceo.svg" alt="Image placeholder">
                        </div>
                        <br>
                        <div class="text-center">
                            <p class=""> Name </p>
                            <p class=""> Gender </p>
                            <p class=""> Email </p>
                            <p class=""> Phone </p>
                            <p class=""> Position </p>
                        </div>
                    </div>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="row">
                    <div class="col-12">
                        <h2>Tasked View</h2>
                        <hr>
                        <p>Below are a list of created for you by the Managing Director.</p>
                    </div>
                    <% if(tasks.length < 1){ %>
                        <div class="col-12 text-center">
                            <br><br><br>
                            <img class="sessionImg" src="img/cookies.svg" alt="">
                            <br><br><br>
                            <h2>Sessioned Timed Out</h2>
                            <a class="mute" href="/login">Please login and try again.</a>
                        </div>
                        <%}else{%>
                            <div class="col-12 table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="th-sm">Task #</th>
                                            <th class="th-sm">Title</th>
                                            <th class="th-sm">Description</th>
                                            <th class="th-sm">Start Time</th>
                                            <th class="th-sm">Deadline</th>
                                            <th class="th-sm">Status</th>
                                            <th class="th-sm">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%for(let j = 0; j < tasks.length; j++){%>
                                            <tr>
                                                <td>
                                                    <%= j+1 %>
                                                </td>
                                                <td>
                                                    <%= tasks[j].title%>
                                                </td>
                                                <td>
                                                    <%= tasks[j].description%>
                                                </td>
                                                <td>
                                                    <%= tasks[j].start_time%>
                                                </td>
                                                <td>
                                                    <%= tasks[j].deadline%>
                                                </td>
                                                <td>
                                                    <%= tasks[j].status%>
                                                </td>
                                                <td>
                                                    <form action="/updateTodoItemsById" method="post">
                                                        <input type="hidden" name="taskId" value="<%=tasks[j]._id %>">
                                                        <input class="btn btn-primary" type="submit" value="finished">
                                                    </form>
                                                </td>
                                            </tr>
                                            <%}%>


                                    </tbody>
                                </table>
                            </div>
                            <%}%>

                </div>
            </main>
        </div>
        <%- include('./partials/footer'); -%>